# Dependencies
node_modules/

# Build output
.esbuild/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Coverage / Tests
coverage/

# Local environment
.env
.env.local

# Misc
*.tgz
